@font-face {
    font-family: 'MyFont';
    src: url('myfont.ttf') format('truetype');
}

html,body{
  background-color:black;
}
head,section{
  background-color: black;
  padding:50px 15px;
}
footer{
  background:darkgray;
  color:white;
}

h1{
  font-family: 'MyFont';
  font-size: 95px;
  text-align: center;
  position:center;
  color: white;
}
h6{
  font-family: 'MyFont';
  font-size: 50px;
  text-align: center;
  position:center;
  color: white;
}
h2,h3,h4{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  position:center;
  color: white;
}

.figure{
  justify-content: center;
  align-items: center;
}
.intruction {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.carousel img{
  width:100%;
  height: 100%;
}
.navbar{
  height: 90px;
  background-color: black;
}
.navbar-nav{
      display: flex;
      justify-content: right;
      list-style: none;
      margin-right: 15%;
    }
.navbar-brand{
  position:relative;
  top: 20px;
}
.relative{
  text-align: center;
  color:white;
}

.row{
  padding: 20px;
}

.box{
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0.5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    border-radius: 20px;
    border: 7px solid white;

}
.box>img{
    width: 200%;
    height: 85%;
    object-fit: cover;
    transition: .5s;
}

.box:hover{
    flex-basis: 20%;
}
.box:hover>img{
    width: 100%;
    height: 100%;
}


.shell{
    display: flex;
    gap: 5rem;
    align-items:start;
    padding: 50px;
}
.shell>div{
    block-size: 600px;
    background-color: black;
    border-radius: 10px;
}

.shell img {
    width: 100%; /* 图片宽度为100% */
    height: 100%; /* 图片高度为100% */
    object-fit: cover; /* 保持图片宽高比并填充容器 */
}

.shell2{
    overflow-x: auto;
    display: flex;
    /* 设置间距 */
    gap: 5rem;
    align-items:start;
    padding: 50px;
}
.shell2>div{
    block-size: 320px;
    background-color: black;
    aspect-ratio: 1.5;
    border-radius: 10px;
    display: flex; /* 使用flexbox布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.shell2 img {
    width: 100%; /* 图片宽度为100% */
    height: 100%; /* 图片高度为100% */
    object-fit: cover; /* 保持图片宽高比并填充容器 */
}
/* 设置滚动条的高度 */
::-webkit-scrollbar{
    height: 16px;
}
/* 设置滚动条的背景色 */
::-webkit-scrollbar-track{
    background-color:black;
}
::-webkit-scrollbar-thumb{
    background-color:grey;
    border-radius: 10px;
}
